@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kendrick Thomas or KeShia Simmons<br />
    9004 Winding River Trail <br/>
    Fort Worth, TX 76118<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Kendrick Thomas:</strong> <a href="mailto:Ken.L.Thomas@gmail.com">Ken.L.Thomas@gmail.com</a><br />
    <strong>KeShia:</strong> <a href="mailto:k2simmons@gmail.com">k2simmons@gmail.com</a>
</address>
