@{
    ViewData["Title"] = "Events";
}
<h2>@ViewData["Title"]</h2>

<div class="weddingevent">
    <h1>The Wedding</h1>
    <p><strong>May 27, 2016 at TBD</strong></p>
    <div class="venuenamewrapper4">
        <p class="newlogo4" align="center"><a href="/"><img src="http://poetry.thespringsevents.com/wp-content/themes/venues/images/logonew.png"></a></p>
        <div class="venuenameinner4"><span itemprop="name">Poetry Springs</span></div>
    </div>

    <div class="venuecontact4">
        <div itemscope itemtype="http://schema.org/LocalBusiness">
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <p>
                    <span itemprop="streetAddress">10227 CR 2426</span> -
                    <span itemprop="addressLocality">Terrell</span>,
                    <span itemprop="addressRegion">TX</span>
                    <span itemprop="postalCode">75160</span>
                </p>
            </div>
            <p>Phone: <span itemprop="telephone"><a href="tel:972-210-9250">972-210-9250</a></span></p>
        </div>
    </div>
</div>

<div class="weddingreception">
    <h1>The Reception</h1>
    <p><strong>May 27, 2016 at TBD</strong></p>
    <div class="venuenamewrapper4">
        <p class="newlogo4" align="center"><a href="/"><img width="600" src="http://poetry.thespringsevents.com/wp-content/uploads/sites/20/2015/04/poetry-slide-1.jpg"></a></p>
        <div class="venuenameinner4"><span itemprop="name">Poetry Springs</span></div>
    </div>
</div>
