@{
    ViewData["Title"] = "Our Story";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div id="tabs-OurStory">
    <h2>KeShia's Story</h2>
    <p id="keshiaStorys">
        Boo-hoo’d like a baby while listening to this on my way to work this morning. GRACE.
        Almost a year ago, I fb’d Ken to ask him about a church that my coworker raved about
        (thanks Mark!) that I recalled Ken “checking into” (even though I barely knew him….we
        had met at a comedy club 4/5 years prior for a friends bday (thanks Arlenea! Thanks
        Tice Owens!) Grey and I had just moved out after living with family during my pregnancy
        and most of his first year. (thanks Linsey Babitzke Simmons) and I really wanted to
        find a church home. Me- I see you check in at Gateway….how do you like it? Ken- I love
        it..;If you need someone to go with… FIRST “DATE” was to church at Gateway Church and
        then dinner at the Cheesecake Factory. PATIENCE. It really IS a virtue and he must be
        a monk. smile emoticon Resistant isn’t the word. Past disappointments had me jaded
        and dating was the LAST thing on my mind; my only focus was to be a good mom, work,
        and that was about it. RESILIANT. Ken was patient, consistent, and a really great
        friend and after 4/5 months, I agreed to be his girlfriend. He adores me. He loves
        my son. He loves God. Fast forward to now... GRATEFUL. Not what I deserved. GRACE
        ‪#‎foriknowtheplansihaveforyou‬ ‪#‎jeremiah2911‬ I love you Kendrick!
    </p>
    <h2>Kendrick's Story</h2>
    <article id="kenStory">
            I must admit that I was feeling lost.  When you start looking around and all of
            your friends are getting married, it makes you think.  I had failed in my last
            relationship and was wondering if I would ever find someone.   That’s when I
            turned to God.  I started going to church every weekend.  I would check into
            church on my facebook app.  I prayed to God, I asked him for help.  I asked God
            to send someone special into my life.
            <br />

            One Thursday night, I’m hanging out at Dave and Busters with one of my best
            friends having a beer.  We are just talking about life, and that Thursday,
            September 4, 2014 at 9:59 pm, I get this message on facebook. “Hey Kendrick,
            how are you.”   I respond, “I’m good, what’s up.”  The next message is, “I
            noticed you check in at Gateway often.  My coworker has been mentioning how
            great it is and now that I’m in the area I was going to check it out.  What
            do you think about it?”  I went on about how much I loved and enjoyed the
            church.
            <br />

            And that is when this journey begins in my eyes; however, I can see that God
            had planted this seed long before I even knew it.  My good friends, Tice and
            Arlenea, invited me to join them on an outing for Arlenea’s birthday in 2011.
            I guess they were playing match maker, because that is when I met Ms. KeShia
            Simmons.  We all had a fun night and enjoyed the outing.  KeShia and I
            exchanged numbers. However, other than a few phone conversations and becoming
            friends on facebook, we each went on to living our separate lives.
            <br />

            So it was a shocking surprise to see a message from this young lady three
            years later.  I must say, it is one of the best surprises in my life.  God
            answered my prayer, and gave me the most precious gift a man can have, a wife.   I LOVE you KeShia Simmons.

            <br/>
            Thanks God.
    </article>
</div>
